<p id="notice"><%= notice %></p>
<h1>New Local</h1>

<div class="jumbotron">
<%= form_with(model: @local, method: :post) do |form|%>
    <div class='field'> 
        <%= form.label :Name %>
        <%= form.text_field :nombre %>
    </div>

    <div class='field'> 
        <%= form.label :Type %>
        <%= form.select :tipo, Local.tipos.keys.to_a %>
    </div>

    <div class='field'> 
        <%= form.label :Direction %>
        <%= form.text_field :direccion %>
    </div>

    <div class="field">
      <%= form.label :Photo %><br />
      <%= form.file_field :avatar %><br />
    </div><br />

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
<br>
<%= link_to 'Locals Lists', locals_path, class: "btn btn-primary" %>
</div>