<center>
  <div class="jumbotron">
  <h1>Locals</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Direction</th>
        <th>Type</th>
        <th>Nº Dates</th>
        <th colspan="4"> Actions </th>
      </tr>
    </thead>

    <tbody>
      <% @locals.each do |local| %>
        <tr>
          <td><%= local.nombre %></td>
          <td><%= local.direccion %></td>
          <td><%= local.tipo %></td>
          <% if local.n_citas && dueno_user_signed_in? %>
            <td><%= local.n_citas %></td>
          <% else %>
            <td>0</td>
          <% end %>
          <td><%= link_to  'See Details', local_path(local.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if dueno_user_signed_in? %>
    <%= link_to 'Create Local', locals_new_path, class: "btn btn-primary" %>
  <% end %>
  </div>
</center>