<p id="notice"><%= notice %></p>

<div class="jumbotron">
<p>
  <strong>Name:</strong>
  <%= @local.nombre %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @local.direccion %>
</p>

<p>
  <strong>Type:</strong>
  <%= @local.tipo %>
</p>

<p>
  <strong>Number of Dates:</strong>
  <% if @local.n_citas %>
    <%= @local.n_citas %>
  <% else%>
    0
  <% end %>
</p>
<p>
 
  <%if @local.avatar.attached?%>
    <td><%=cl_image_tag(@local.avatar.key, width: 200, height: 250, crop: :scale)%></td>   
  <%elsif @local.avatar.attached? == false%>
    <td>Suba una imagen para que sea visualizada!</td>  
  <%end%>
</p>

<%= link_to 'Locals list', locals_path, class: "btn, btn-primary" %>
<%= link_to 'Edit Local', local_edit_path(@local.id), class: "btn, btn-primary" %>
<%= link_to 'Delete Local', local_delete_path(@local.id), method: :delete, class: "btn, btn-primary",
 data: { confirm: 'Are you sure?' } %>

</div>