<h1> This are all the Users </h1>


<table>
    <thead> 
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>email</th>
            <th>password</th>
            <th>gender</th>
            <th>birthday</th>
            <th>number</th>
            <th>description</th>
            <th>sexual orientation</th>
            <th>interests</th>
            <th>photos</th>
        </tr>
    </thead>
    <tbody>
    <% @users.each {|user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td><%= user.gender %></td>
            <td><%= user.birthday %></td>
            <td><%= user.number %></td>
            <td><%= user.description %></td>
            <td><%= user.sexual_orientation %></td>
            <td><%= user.interests %></td>
            <td><%= user.photos %></td>
        </tr>
    </tbody>
    <% } %>
</table>