<h1> This are all the Users </h1>


<div class="jumbotron">

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>rut</th>
                <th>email</th>
                <th>Show</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        <% @users.each {|user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.rut %></td>
                <td><%= user.email %></td>
                <td><%= link_to 'See more', user_path(user.id), class: "btn btn-secondary" %></td>
                <% if current_user %>
                <td><%= link_to 'Edit', edit_user_registration_path, class: "btn btn-secondary" %></td>
                <% end %>
            </tr>
        </tbody>
        <% } %>
    </table>
</div>
