<h1> This are all the Users </h1>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>rut</th>
            <th>email</th>
            <th>Show</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
    <% @users.each {|user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.rut %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Ver mas', user_path(user.id) %></td>
            <% if current_user %>
            <td><%= link_to 'Editar', edit_user_registration_path %></td>
            <% end %>
        </tr>
    </tbody>
    <% } %>
</table>
