<h1> This are all the User </h1>

<div class="jumbotron">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>rut</th>
                <th>email</th>
                <th>password</th>
                <th>gender</th>
                <th>birthday</th>
                <th>number</th>
                <th>description</th>
                <th>sexual orientation</th>
                <th>interests</th>
                <th>photos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @user.id %></td>
                <td><%= @user.name %></td>
                <td><%= @user.rut %></td>
                <td><%= @user.email %></td>
                <td><%= @user.password %></td>
                <td><%= @user.gender %></td>
                <td><%= @user.birthday %></td>
                <td><%= @user.number %></td>
                <td><%= @user.description %></td>
                <td><%= @user.sexual_orientation %></td>
                <td><%= @user.interests %></td>
                <%if @user.avatar.attached?%>
                    <td><%=cl_image_tag(@user.avatar.key, width: 200, height: 250, crop: :scale)%></td>   
                <%elsif @user.avatar.attached? == false%>
                    <td>Suba una imagen para que sea visualizada!</td>  
                <%end%>

            </tr>
        </tbody>
    </table>
</div>
