<h1>Hello World!</h1>
<%= image_tag("Gifs/giphy.gif") %>
<%= image_tag("Gifs/giphy1.gif") %>
<%= image_tag("Gifs/giphy2.gif") %>
<%= image_tag("Gifs/giphy3.gif") %>
<%= image_tag("Gifs/giphy (3).gif") %>
<%= image_tag("Gifs/giphy (4).gif") %>
<%= image_tag("Gifs/giphy (5).gif") %>