<h1>Hello World!</h1>

<<%= link_to  "Show Registered Users", users_path %>>

<p>Un par de Gifs pa que nos riamos, Goce</p>
<%= image_tag("Gifs/giphy.gif") %>
<%= image_tag("Gifs/giphy1.gif") %>
<%= image_tag("Gifs/giphy2.gif") %>
<%= image_tag("Gifs/giphy3.gif") %>
<%= image_tag("Gifs/giphy (3).gif") %>
<%= image_tag("Gifs/giphy (4).gif") %>
<%= image_tag("Gifs/giphy (5).gif") %> 